
// FIXME
// For some reason if/else statements don't work here
// @mixin breakpoint($size) {
// 	@if $size == xl {
//     	@media (min-width: 2000px) { @content; }
// 	} 
// 	@else if $size == lg {
//     	@media (min-width: 1000px) and (max-width: 1999px) { @content; }
// 	} 
// 	@else if $size == md {
//     	@media (min-width: 600px) and (max-width: 999px) { @content; }
// 	} 
// 	@else if $size == sm {
//     	@media (min-width: 600px) { @content; }
// 	} 
// }

@mixin break--sm {
	@media (min-width: 600px) { @content; }
}
@mixin break--md {
	@media (min-width: 1000px) { @content; }
}
@mixin break--lg {
	@media (min-width: 2000px) { @content; }
}