.post {
	display: flex;
	flex-direction: column;
	padding: 0.9rem 0;
	width: 100%;
	@include break--sm {
		width: 50%;
	}
	@include break--md {
		width: 33.3333333333%;
	}
	&--latest {
		width: auto;
		margin: 0 1.8rem;
		transform: translateY(-3.6rem);
		@include break--sm {
			margin: 0 2.25rem;
			padding: 1.08rem 0;
			transform: translateY(-13.5rem);
			height: 40.5rem;
		}
		@include break--md {
			flex-direction: row;
			margin: 0 4.5rem;
			padding: 2.7rem 0;
			transform: translateY(-23.4rem);
			height: 33.3rem;
		}
	}
	
	&__image {
		display: flex;
		flex-shrink: 0;
		width: auto;
		height: 18rem;
		padding: 0 0.45rem;
		@include break--sm {
			padding: 0 0.9rem;
		}
		@include break--md {
			padding: 0 1.44rem;
		}
		& span {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			filter: contrast(100%);
			transition: 4.5s;
		}

		&--latest {
			width: 100%;
			height: 20.7rem;
			padding: 0;
			margin: 0;
			@include break--md {
				width: 50%;
				height: 33.3rem;
			}

			& span {
				width: 100%;
				height: 100%;
			}
		}
	} 
	&__meta {
		display: flex;
		flex-grow: 0;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: $tan;
		padding: 1.8rem;
		text-align: center;
		height: 9rem;
		margin: 0 0.45rem;
		@include break--sm {
			margin: 0 0.9rem;
		}
		@include break--md {
			margin: 0 1.44rem;
		}

		&--icon {
			color: $red;
			background-color: $tan;
			border-radius: 100%;
			font-size: 1.8rem;
			padding: 0.9rem;
			margin-top: -4.05rem;
			z-index: 1;
			@include break--md {
				margin-top: -3.6rem;
			}
		}
		&--cta {
			font-weight: 600;
			color: $red;

			&:hover {
				color: $black;
			}
		}

		&--latest {
			background-color: $white;
			padding: 1.8rem;
			text-align: center;
			height: 20.7rem;
			margin: 0;
			@include break--sm {
				padding: 2.7rem;
				height: 27rem;
			}
			@include break--md {
				height: auto;
				width: 50%;
				padding: 5.4rem;
			}

			& .post__meta--icon {
				padding: 0;
				margin-top: 0;
				background-color: $white;
			}
		}
	}
	&--hover {
		&.post {
			.post__meta {
				background-color: $black;
				transition: 0.72s;

				&--icon {
					background-color: $black;
					transition: 0.72s;
				}
			}
			.post__meta--date button {
				color: $white;
			}
			.post__meta--title {
				color: $white;
			}
			.post__meta--cta {
				&:hover {
					color: $red;
				}
			}
			& .post__image span {
				filter: contrast(135%);
				transition: 4.5s;
			}
			&--latest {
				.post__meta {
					background-color: $white;

					&--icon {
						background-color: $white;
					}
				}
				.post__meta--date button {
					color: $black;
				}
				.post__meta--title {
					color: $black;
				}
				.post__meta--cta {
					color: $black;
					&:hover {
						color: $black;
					}

				}
			}
		}
	}
}
