.hero {
	width: 100%;
	& .container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding-top: 1.8rem;
		height: 50.625rem;
		@include break--md {
			height: 54rem;
			text-align: left;
			flex-direction: row;
		}
	} &__main {
		background-size: cover;
	}

	&__copy {
		color: $white;
		width: 100%;    
		display: flex;
		justify-content: center;
		height: 50%;
		align-items: center;
		margin-bottom: 1.8rem;
		@include break--md {
			margin-bottom: 0;
			transform: translateY(-36%);
			width: 50%;
		}
		& span {
			max-width: 32.4rem;
			@include break--md {	
				margin-left: auto;
				display: block;
			}

			& p {
				max-width: 28.8rem;
				margin: 0 auto 0.9rem;
				@include break--md {
					margin: 0 auto 0 0;
				}
			}
		}
		&--title {
			margin-bottom: 0.9rem;
		}
	} &__product {
		width: 100%;
		display: flex;
		align-items: center;
		@include break--md {
			width: 50%;
		}

		& span {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 30.6rem;
			width: 100%;
			@include break--sm {
				height: 33.3rem;
			}
			@include break--md {
      			height: 45rem;
			}
			@include break--lg {
      			height: 50.4rem;
			}
		}
	}

	&__latest {
		background-color: $gold;
		max-height: 45rem;
		@include break--sm {
			max-height: 31.4rem;
		}
		@include break--md {
			max-height: 16.2rem;
		}
	}

}
